@font-face {
  font-family: 'iconfont';
  /* project id 940294 */
  src: url('//at.alicdn.com/t/font_940294_g5cm6gkwgsq.eot');
  src: url('//at.alicdn.com/t/font_940294_g5cm6gkwgsq.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_940294_g5cm6gkwgsq.woff') format('woff'), url('//at.alicdn.com/t/font_940294_g5cm6gkwgsq.ttf') format('truetype'), url('//at.alicdn.com/t/font_940294_g5cm6gkwgsq.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  font-size: 12px;
  height: 100%;
}
.g-link {
  text-decoration: none;
  color: #409EFF;
}
.g-link:hover {
  color: #2474c5;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide {
  display: none !important;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.c-red {
  color: red;
}
.c-orange {
  color: orange;
}
.c-yellow {
  color: yellow;
}
.c-darkgray {
  color: darkgray;
}
.c-blue {
  color: blue;
}
#app,
.mainWrapper {
  height: 100%;
}
.siderWrapper {
  width: auto !important;
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(135deg, #2F4050 0%, #3a4753 100%);
}
.siderWrapper ul {
  flex: 1;
  overflow: auto;
  background: linear-gradient(135deg, #2F4050 0%, #3a4753 100%) !important;
}
.siderWrapper .el-submenu__title:hover {
  cursor: pointer;
  background: linear-gradient(135deg, transparent 0%, #2c3b4b 50%, transparent 100%);
}
.siderWrapper .el-menu {
  border-right: 0;
}
.siderWrapper .el-menu i {
  font-size: 16px;
  margin-right: 5px;
}
.siderWrapper .el-menu-item {
  background: #202c36;
}
.siderWrapper .el-menu-item:hover {
  color: #e9c667 !important;
}
.siderWrapper .el-menu-item.is-active {
  color: #ffd04b !important;
  font-weight: bold;
}
.siderWrapper .logoWrap {
  width: 218px;
  text-align: center;
  z-index: 100;
  right: 0;
  top: 0;
  padding: 5px;
  position: absolute;
}
.siderWrapper .isCollapse-group {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  background: #304151;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.siderWrapper .isCollapse-group:hover {
  background: #42596e;
}
.el-header {
  background: #f3f3f4;
  border-bottom: solid 1px #e3e6e8;
  padding-left: 0;
  position: relative;
}
.el-header .breadcrumbWrap {
  top: 10px;
}
.el-menu--popup {
  background: #333 !important;
}
.el-menu--popup li:hover {
  background: #666 !important;
}
.el-radio-button {
  display: block;
}
.el-radio-button.is-active {
  display: none;
}
.el-footer {
  height: 30px !important;
  border-top: solid 1px #eee;
  line-height: 30px;
  text-align: right;
  font-size: 12px;
  color: #666;
}
.e-message {
  min-height: 22px;
  padding: 5px 25px;
  top: 0;
  font-size: 12px;
  min-width: auto;
}
.loadingStyle p,
.loadingStyle i {
  color: #666 !important;
  font-size: 18px !important;
}
.el-container,
.mainContentWrapper {
  height: 100%;
}
.el-dialog__header {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(rgba(217, 217, 218, 0.5)));
  border-bottom: solid 1px #ddd;
  padding: 10px;
}
.el-dialog__header .el-dialog__headerbtn {
  top: 14px;
}
.el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.el-input--suffix .el-input__inner {
  padding-right: 15px !important;
}
