@font-face {
  font-family: 'iconfontz';
  /* project id 907587 */
  src: url('//at.alicdn.com/t/font_907587_6baqdt44cle.eot');
  src: url('//at.alicdn.com/t/font_907587_6baqdt44cle.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_907587_6baqdt44cle.woff') format('woff'), url('//at.alicdn.com/t/font_907587_6baqdt44cle.ttf') format('truetype'), url('//at.alicdn.com/t/font_907587_6baqdt44cle.svg#iconfont') format('svg');
}
.iconfontz {
  font-family: "iconfontz" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  color: #606266;
}
textarea {
  padding: 5px 10px !important;
  color: #606266;
}
.el-cascader-menu__item--extensible:after {
  right: 4px;
}
.el-tabs__item {
  padding: 0 7.5px !important;
}
