@font-face {
  font-family: 'iconfont';
  /* project id 907587 */
  src: url('//at.alicdn.com/t/font_907587_jd3hiqrk48l.eot');
  src: url('//at.alicdn.com/t/font_907587_jd3hiqrk48l.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_907587_jd3hiqrk48l.woff2') format('woff2'), url('//at.alicdn.com/t/font_907587_jd3hiqrk48l.woff') format('woff'), url('//at.alicdn.com/t/font_907587_jd3hiqrk48l.ttf') format('truetype'), url('//at.alicdn.com/t/font_907587_jd3hiqrk48l.svg#iconfont') format('svg');
}
.iconfontz {
  font-family: "iconfontz" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  color: #606266;
}
textarea {
  padding: 5px 10px !important;
  color: #606266;
}
.el-cascader-menu__item--extensible:after {
  right: 4px;
}
.el-tabs__item {
  padding: 0 7.5px !important;
}
.v-table-body-cell {
  padding: 0 6px !important;
}
.el-radio__label {
  font-size: 12px;
}
.el-dialog__body {
  font-size: 12px;
}
.v-table-title-cell {
  padding: 0 4px !important;
  background-color: #eee;
}
.el-textarea {
  font-size: 12px;
}
.el-icon-upload-success {
  position: absolute !important;
  top: 0px !important;
  right: 14px !important;
}
